<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="StaticFiles/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@300;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="StaticFiles/about.css">





    <title>About</title>
    <style>

    </style>
</head>

<body>
    <header>

        <nav>
            <div class="left">
                Gaurav's Portfolio
            </div>
            <div class="right">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>


        <div class="box1">

            <img src="StaticFiles/android-chrome-512x512.png" alt="not-found" class="image1"  width="185px">
            <h1>ABOUT</h1>

            <p class="p1">

                Hello! I'm <big>Gaurav </big> , and I'm delighted to welcome you to my portfolio. I am a passionate and
                dedicated professional with a strong background in Computer Science . Throughout my career, I have
                consistently pursued excellence and pushed the boundaries of my skills to deliver outstanding results.
                <br> <br>With a keen eye for detail and a creative mindset, I have honed my abilities in <Big>Data
                    Structures and Algorithms , Databases (MySQL , SQLite) , Frontend (HTML , CSS , JavaScript ,
                    BootStrap) , Backend (Php , mysql , Python , Apache ) and Programming languages ( Java , C++ ,
                    Python , PHP )</Big> to bring innovative solutions to complex challenges. I thrive in dynamic
                environments and enjoy collaborating with diverse teams to achieve shared objectives. <br> <br>My
                portfolio showcases a collection of my most significant projects, highlighting my expertise and
                demonstrating my ability to bring ideas to life. Each project has been carefully curated to showcase my
                skills, problem-solving capabilities, and the impact I have made in my previous roles. I pride myself on
                being a lifelong learner, constantly seeking new opportunities to grow and expand my skill set. I am not
                only proficient in the latest industry-standard tools and technologies but also possess a deep
                understanding of emerging trends and best practices. This allows me to adapt quickly to changing
                circumstances and deliver exceptional outcomes.My professional journey has provided me with valuable
                experience in <big>Web Development</big>. This diverse background has equipped me with a broad
                perspective and the ability to think strategically while paying attention to the finer details. <br>
                <br>
                Thank you for taking the time to explore my portfolio. I hope it gives you a comprehensive overview of
                my skills, expertise, and achievements. I am excited about the opportunity to contribute my talents to a
                new challenge and make a meaningful impact in your organization. If you have any questions or would like
                to discuss potential opportunities further, please don't hesitate to reach out. <br> <br>

            </p>


        </div>


    </main>







  <footer id="footer">

        <div class="bottom">
              <ul>
                <li><img src="StaticFiles/telephone-contact-icon-in-black-circle-shape-free-png.jpg" alt="" width="21px" style="position: relative; top: 5px;"> &nbsp; &nbsp;  Contact Number : 7017501776</li>
                <li><img src="StaticFiles/images.png" alt="" width="25px">&nbsp; &nbsp;  Email Address: guaravbhatt0401@gmail.com</li>
                <li><img src="StaticFiles/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png" alt="" width="25px">&nbsp; &nbsp;  Github-: <a href="https://github.com/gaurav0401" style="text-decoration: none; color: white;"> gaurav0401</a></li>
                <li><img src="StaticFiles/linkedin-social-media-icon-design-template-vector-png_127000.jpg" alt="" width="25px">&nbsp; &nbsp; Linkedin-: <a href="https://www.linkedin.com/in/gaurav-bhatt-b927321a6/" style="text-decoration: none; color: white;"> gaurav-bhatt-b927321a6 </a></li>
                <li><img src="StaticFiles/png-clipart-computer-icons-address-book-address-computer-icons-address-book-thumbnail.png" alt="" width="25px">&nbsp; &nbsp; Address: Dehradun , Uttarakhand </li>
              </ul>



        </div>
        <big style="position: relative; left: 38vw; top: 0.5vh;">&#169; Copyright 2023</big>

    </footer>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script>
        var typed = new Typed('#element0', {
            strings: ['Gaurav Bhatt'],
            typeSpeed: 50,
        });
    </script>
</body>

</html>