<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="StaticFiles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="StaticFiles/favicon.ico" type="image/x-icon">
    <title>Gaurav Bhatt's Portfolio</title>
    
</head>

<body>
    <header>

        <nav>
            <div class="left">
                Gaurav's Portfolio
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <section class="firstsection">
            <div class="leftsection">
                Hi, I am   <span id="element0"  style="color: rgb(153, 21, 21);"></span>,
                <div>and I am a  <span style="color: blueviolet;">Programmer</span> .</div>
                <span>
                     <button class="resume"><a href="https://drive.google.com/file/d/1QKWYSVATHCUpIcqdDbo6tBriBLB8w6nW/view?usp=share_link">Download resume</a></button>
                </span>

                <span>
                    <button class="git"><a href="https://github.com/gaurav0401">Visit GitHub</a></button>
               </span>
                
                
            </div>
            <div class="rightsection">
            <img src="StaticFiles/bg.png" alt="no bg" width="450px">
            </div>
        </section>

        <section class="secondsection">
                 <hr  >   
                <h1  style="font-size: 1.2rem;  color: rgb(194, 153, 194);">Work Experience</h1>

                <hr  style="margin-top: 5px;">
                <div class="vertical-line"></div>
                <div class="exp1">
                    <div class="logo"><img src="StaticFiles/png-transparent-web-development-web-design-software-development-web-developer-web-design-web-design-text-logo.png" alt=""  width="50px"  style="border: 1px solid white; border-radius: 50px;"></div>
                     <div class="title"   style="font-size: 15px;" > <big style="color: purple;" >Title:</big>  Web Developer</div>
                     <div class="active-year"  style="font-size: 15px;" ><big style="color: purple;" >Active Year:</big>   2022- Present</div>
                     <div class="projects"  style="font-size: 15px;" > <big style="color: purple;" >Projects:</big> 
                        <a href="" class="project" style="text-decoration: none; color: whitesmoke;"> Check Out here</a>
                     </div>
                </div>


           
        </section>
       
    </main>


    <footer>
            
        <div class="bottom">
              <ul>
                <li><img src="StaticFiles/telephone-contact-icon-in-black-circle-shape-free-png.jpg" alt="" width="21px" style="position: relative; top: 5px;"> &nbsp; &nbsp;  Contact Number : 7017501776</li>
                <li><img src="StaticFiles/images.png" alt="" width="25px">&nbsp; &nbsp;  Email Address: guaravbhatt0401@gmail.com</li>
                <li><img src="StaticFiles/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png" alt="" width="25px">&nbsp; &nbsp;  Github-: <a href="https://github.com/gaurav0401" style="text-decoration: none; color: white;"> gaurav0401</a></li>
                <li><img src="StaticFiles/linkedin-social-media-icon-design-template-vector-png_127000.jpg" alt="" width="25px">&nbsp; &nbsp; Linkedin-: <a href="https://www.linkedin.com/in/gaurav-bhatt-b927321a6/" style="text-decoration: none; color: white;"> gaurav-bhatt-b927321a6 </a></li>
                <li><img src="StaticFiles/png-clipart-computer-icons-address-book-address-computer-icons-address-book-thumbnail.png" alt="" width="25px">&nbsp; &nbsp; Address: Dehradun , Uttarakhand </li>
              </ul>
            

        
        </div>
        <big style="position: relative; left: 38vw; top: 0.5vh;">&#169; Copyright 2023</big>

    </footer>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

       <script>
        var typed = new Typed('#element0', {
          strings: ['Gaurav Bhatt'],
          typeSpeed: 50,
        });
      </script>
</body>

</html>