<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="StaticFiles/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Poppins:wght@300;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="StaticFiles/skills.css">





    <title>Skills</title>

</head>

<body>
    <header>

        <nav>
            <span class="left">
                Gaurav's Portfolio
            </span>
            <span class="right">
                <ul>
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </span>
        </nav>
    </header>


    <main>


        <span class="container1">

            <h1>
                My Top Skills
            </h1>

            <span class="collection1">
                <span class="card">
                    <img src="StaticFiles/icons/java.png" alt="no-image" width="200px">
                    <h4>Java</h4>
                </span>
                <span class="card">
                    <img src="StaticFiles/icons/c++.png" alt="" width="200px">
                    <h4>C++</h4>
                </span>

                <span class="card">
                    <img src="StaticFiles/icons/icons8-python-480.png" alt="" width="200px">
                    <h4>Python</h4>
                </span>
                <span class="card">
                    <img src="StaticFiles/icons/icons8-html5-480.png" alt="" width="200px">
                    <h4>HTML</h4>
                </span>
            </span>

            <span class="collection2">

                <span class="card">
                    <img src="StaticFiles/icons/icons8-css3-480.png" alt="" width="200px">
                    <h4>CSS</h4>
                </span>
                <span class="card">
                    <img src="StaticFiles/icons/icons8-javascript-240.png" alt="" width="200px">
                    <h4>Java Script</h4>
                </span>

                <span class="card">
                    <img src="StaticFiles/icons/icons8-php-480.png" alt="" width="200px">
                    <h4>PHP</h4>
                </span>
                <span class="card">
                    <img src="StaticFiles/icons/icons8-mysql-500.png" alt="" width="200px">
                    <h4>MySQL</h4>

                </span>
            </span>


            <span class="collection3">
                <span class="card">
                    <img src="StaticFiles/icons/icons8-flask-500.png" alt="" width="200px">
                    <h4>Flask</h4>

                </span>

            </span>
        </span>




        <span class="projects">

            <h1>My Projects</h1>

            <span class="collection4">

                <span class="project">


                    <a href="https://github.com/gaurav0401/Netflix-Clone.git"><img src="StaticFiles/icons/netflix.png" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/Netflix-Clone.git">Netflix Clone <br> (Click  to visit GitHub  Repository)</a></h4>
                    <h4><a href="https://netflixclonebygaurav.netlify.app/" style="color: rgb(195, 195, 218); font-family: cursive;">Click here to Visit WebSite </a></h4>
                </span>


                <span class="project">


                    <a href="https://github.com/gaurav0401/Nature-s-Gallery.git"><img src="StaticFiles/icons/gallery.png" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/Nature-s-Gallery.git">Nature's Gallery<br> (Click  to visit GitHub  Repository) </a></h4>
                    <h4><a href="https://naturegallerybygaurav.netlify.app/" style="color: rgb(195, 195, 218); font-family: cursive;">Click here to Visit WebSite </a></h4>
                </span>

                <span class="project">


                    <a href="https://github.com/gaurav0401/HospitalManagementSystem.git"><img src="StaticFiles/icons/hms.png" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/HospitalManagementSystem.git">Hospital Management System<br> (Click  to visit GitHub  Repository) </a></h4>
                </span>

                <span class="project">


                    <a href="https://github.com/gaurav0401/Fitness-hub.git"><img src="StaticFiles/icons/fitness.jpg" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/Fitness-hub.git">Fitness Hub <br> (Click  to visit GitHub  Repository)</a></h4>

                </span>
            </span>

               <span class="collection5">

                <span class="project">


                    <a href="https://github.com/gaurav0401/ToDO_Application_using_FLASK.git"><img src="StaticFiles/icons/todo.jpg" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/ToDO_Application_using_FLASK.git">ToDO list <br> (Click  to visit GitHub  Repository)</a></h4>
                </span>

                    <span class="project">


                    <a href="https://github.com/gaurav0401/E-Commerce-Web-Application-Using-PHP-and-MySQL.git"><img src="StaticFiles/icons/OneShopy.png" alt="" height="220px"></a>

                    <h4><a href="https://github.com/gaurav0401/E-Commerce-Web-Application-Using-PHP-and-MySQL.git">E-Commerce Web Application <br> (Click  to visit GitHub  Repository) </a></h4>
                </span>
            </span>
        </span>



    </main>







    <footer id="footer">

        <div class="bottom">
              <ul>
                <li><img src="StaticFiles/telephone-contact-icon-in-black-circle-shape-free-png.jpg" alt="" width="21px" style="position: relative; top: 5px;"> &nbsp; &nbsp;  Contact Number : 7017501776</li>
                <li><img src="StaticFiles/images.png" alt="" width="25px">&nbsp; &nbsp;  Email Address: guaravbhatt0401@gmail.com</li>
                <li><img src="StaticFiles/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner-thumbnail.png" alt="" width="25px">&nbsp; &nbsp;  Github-: <a href="https://github.com/gaurav0401" style="text-decoration: none; color: white;"> gaurav0401</a></li>
                <li><img src="StaticFiles/linkedin-social-media-icon-design-template-vector-png_127000.jpg" alt="" width="25px">&nbsp; &nbsp; Linkedin-: <a href="https://www.linkedin.com/in/gaurav-bhatt-b927321a6/" style="text-decoration: none; color: white;"> gaurav-bhatt-b927321a6 </a></li>
                <li><img src="StaticFiles/png-clipart-computer-icons-address-book-address-computer-icons-address-book-thumbnail.png" alt="" width="25px">&nbsp; &nbsp; Address: Dehradun , Uttarakhand </li>
              </ul>



        </div>
        <big style="position: relative; left: 38vw; top: 0.5vh;">&#169; Copyright 2023</big>

    </footer>


</body>

</html>